*{
margin:0;
padding:0;
box-sizing:border-box;
}
#overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(8px);
    background-color: rgba(0, 0, 0, 0.3);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease-in-out;
    z-index: 5;
}
#overlay.active{
  opacity: 1;
  pointer-events: auto;
}
body{
font-family:'Poppins',sans-serif;
background:linear-gradient(135deg,#667eea,#764ba2);
min-height:100vh;
}
.projects{
display:flex;
gap:30px;
flex-wrap:wrap;
margin-top:80px;
display: flex;
justify-content: center;
align-items: center;
}

.card{
background:white;
width:380px;
padding:30px;
border-radius:20px;
box-shadow:0 15px 40px rgba(0, 0, 0, 0.216);
text-align:center;
transition:0.4s;
}

.card:hover{
transform:translateY(-10px) scale(1.03);
}

.card h2{
margin-bottom:20px;
}

.card a{
display:inline-block;
text-decoration:none;
background:#667eea;
color:white;
padding:12px 25px;
border-radius:30px;
font-weight:600;
transition:0.3s;
}

.card a:hover{
background:#4f46e5;
transform:scale(1.05);
}
.navbar h1{
    color:white;
    letter-spacing:2px;
    font-size:40px;
    display: flex;
    justify-content: center;
    align-items: center;
}   
.navbar ul{
    position: absolute;
    width: 250px;
    height: 200px;
    background-color: white;
    border-radius: 25px;
    top: 15%;
    left: 100px;
    border: 2px solid #4f46e5;
    cursor: pointer;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.393);
    display: block;
    text-align: center;
    transition: all 0.3s ease-in-out;
}
.navbar li{
    text-decoration: none;
    padding: 20px;
    position: relative;
    width: 100%;
    list-style: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    transition: all 0.3s ease;
}
.navbar li::after{
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0px;
    width: 0%;
    height: 2px;
    background:linear-gradient(to right, #1e00c8, #dd17d0);
    transition: all 0.3s ease-in-out;
}

.navbar li:hover::after{
    width: 100%;       
}
.navbar li:hover{
    text-shadow: 0 0 20px #1100ff; 
}
.navbar li a{
    text-decoration: none;
    color: black;
}
#menu-clicker{
    margin-left: 5%;
    margin-top: 4%;
    width: 30px;
    height: 30px;
    cursor: pointer;
}
#dropdown{
    margin-top: 25px;
    transition: all 0.3s ease-in-out;
    opacity: 0;
}
.profile_pop{
    display: none;
    position: absolute;
    width: 60%;
    height: 65%;
    left: 20%;
    top: 20%;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    background-color: white;
    transition: all 0.3s ease;
    z-index: 10;
}
.profilepic{
    position: absolute;
    width: 150px;
    height: 150px;
    background-color: #464552;
    border-radius: 100px;
    top: 50px;
    left: 10%;
}
.profile_pop h1{
    margin-left: 30%;
    margin-top:  75px;
}
.icon-linkedin{
    display: flex;
    gap: 15px;
    margin-left: 270px;
}
.icon-linkedin img{
    position: relative;
    display: flex;
    width: 55px;
    height: 55px;
}
.label1{
    opacity: 0;
    color: white;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    transition: all 0.3s ease-in-out;
    transform: translateY(20px);
}
.label1::after{
    border-radius: 25px;
    content: '';
    position: absolute;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 60px;
    height: 10px;
    padding: 15px;
    background-color: #1e00c8;
    z-index: -1;
    box-shadow: 0 0 18px rgba(0, 0, 0, 0.649);
}
.icon-linkedin:hover .label1{
    opacity: 1; 
    transform: translateY(0px);
}
.icon-youtube{
    display: flex;
    gap: 15px;
    margin-left: 435px;
    margin-top: -55px;
}
.icon-youtube img{
    position: relative;
    display: flex;
    width: 55px;
    height: 55px;
}
.label2{
    color: white;
    opacity: 0;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    transition: all 0.3s ease-in-out;
    transform: translateY(20px);
}
.label2::after{
    border-radius: 25px;
    content: '';
    position: absolute;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 60px;
    height: 10px;
    padding: 15px;
    background-color: #1e00c8;
    z-index: -1;
    box-shadow: 0 0 18px rgba(0, 0, 0, 0.649);
}
.icon-youtube:hover .label2{
    opacity: 1;
    transform: translateY(0px);
}
.about{
    position: absolute;
    top: 235px;
    width: 85%;
    font-size: 25px;
    text-align: left;
    left: 100px;
    font-weight: 100;
    z-index: 1;
}
.name{
    color: white;
}
.name::before{
    content: '';
    width: 255px;
    height: 40px;
    background-color: #3325f6c7;
    position: absolute;
    z-index: -1;
    padding: 5px;
    top: -5px;
    left: 70px;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
}
#profile_closer {
    display: flex;
    position: absolute;
    right: 45px;
    font-weight: 600;
    top: 20px;
    font-size: 35px;
    align-items: center;
    justify-content: center;
    cursor: pointer;

}
#profile_closer::after{
    content: '';
    width: 50px;
    justify-content: center;
    align-items: center;
    text-align: center;
    align-items: center;
    height: 50px;
    background-color: #464552bc;
    display: block;
    position: absolute;
    border-radius: 50%;
    opacity: 0;
    z-index: -1;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}
#profile_closer:hover:after{
    opacity: 1;
}
#profile_closer:hover{
    color: white;
    z-index: 1;
}

@media (max-width: 600px) {
    body{
        font-family:'Poppins',sans-serif;
        background:linear-gradient(135deg,#667eea,#764ba2);
        min-height:100vh;
    }
}