body{
    min-height: 100vh;
    background: #1e1717;
}
.heading{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.icon{
    display: flex;
    gap: 10px;
    align-items: center;
}
.icon img{
    width: 55px;
    height: 55px;
}
.heading h1{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
    font-size: 48px;
    color: white;
}
.nav-link{
    display: flex;
    gap: 35px;
    margin: 50px;
}
.reture-home::before{
    content: "";
    position: absolute;
    width: 0px;
    top: 90px;
    height: 10px;
    background: white;
    transition: all 0.3s ease-in-out;
}
.reture-home:hover::before{
    width: 60px;
}
.reture-home{
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 20px;
}
.searchingbar{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
#search{
    width: 40%;
    padding: 20px;
    border-radius: 50px;
    outline: none;
    border: none;
}
#searchbtn{
    width: 10%;
    padding: 20px;
    border-radius: 50px;
    outline: none;
    border: none;
}
.homemovies{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  padding: 30px;
}