body{
    margin: 0;
    padding: 0;
    background: linear-gradient(#0707e4,#2424e2) no-repeat;
    min-height: 100vh;
    width: 100%;
}
.number-gussing{
    display: flex;
    justify-content: center;
    align-items: center;
}
.number-gussing h1{
    font-size: 55px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 50px;
    color: white;
    text-shadow: 0 0 20px rgb(0, 0, 0);
}
